<h1>New Booking</h1>

<%= form_with model: @booking, url: bookings_path(showtime_id: @showtime.id), local: true do |form| %>
  <% if @booking.errors.any? %>
    <div class="alert alert-danger">
      <% @booking.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :number_of_tickets, "Number of Tickets" %>
    <%= form.number_field :number_of_tickets, min: 1, required: true %>
  </div>
  <%# <div class="mb-3">
      <%= form.label :seat_numbers, "Select Seat Numbers" %><br>
      <%# <% @available_seats.each do |seat_number| %>
        <%# <label class="me-2"> %>
          <%# <%= check_box_tag 'booking[seat_numbers][]', seat_number Seat <%= seat_number %>
        <%# </label>
      <% end %>
    <%# </div>  %>
<br/>
  <%= form.hidden_field :showtime_id, value: @booking.showtime_id %>

  <div>
    <%= form.submit "Proceed to Review", class: "btn btn-primary" %>
  </div><br/>
<% end %>

<%= link_to "Back to Showtime Gallery", showtime_gallery_index_path, class: "btn btn-secondary" %>
