<h1>New Booking</h1>

<%= form_with model: @booking, url: bookings_path(showtime_id: @showtime.id), local: true do |form| %>
  <% if @booking.errors.any? %>
    <div class="alert alert-danger">
      <% @booking.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :number_of_tickets, "Number of Tickets" %>
    <%= form.number_field :number_of_tickets, min: 1, required: true %>
  </div>  
<br/>
  <%= form.hidden_field :showtime_id, value: @booking.showtime_id %>

  <div>
    <%= form.submit "Proceed to Review", class: "btn btn-primary" %>
  </div><br/>
<% end %>

<%= link_to "Back to Showtime Gallery", showtime_gallery_index_path, class: "btn btn-secondary" %>
