<div id="<%= dom_id showtime %>">
  <p>
    <strong>Movie:</strong>
    <%= showtime.movie_id %>
  </p>

  <p>
    <strong>Theater:</strong>
    <%= showtime.theater_id %>
  </p>

  <p>
    <strong>Show date:</strong>
    <%= showtime.show_date %>
  </p>

  <p>
    <strong>Available seats:</strong>
    <%= showtime.available_seats %>
  </p>

<p>
    <strong>Price:</strong>
    <%= showtime.price %>
  </p>

</div>
